Repository szczurek-lab/joint-improvement: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, nbstripout

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'files=$(git diff --cached --name-only --diff-filter=ACM | grep "\.py$"); if [ -z "$files" ]; then exit 0; fi; mypy $files'
        language: system
        always_run: true
        pass_filenames: false

      - id: ruff-check
        name: ruff-check
        entry: bash -c 'files=$(git diff --cached --name-only --diff-filter=ACM | grep "\.py$"); [ -z "$files" ] || ruff check --fix $files'
        language: system
        types: [python]

      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types: [python]

      - id: pytest
        name: pytest
        entry: bash -c 'PYTHONPATH=src pytest tests/ -x --tb=short -p no:xdist'
        language: system
        always_run: true
        pass_filenames: false

      - id: nbstripout
        name: nbstripout
        entry: nbstripout --drop-empty-cells --keep-output
        language: system
        types: [jupyter]

Update project configuration by switching to Hatch for build management, refining pre-commit hooks, and adding type hints for improved type checking and code quality.
  .pre-commit-config.yaml
  pyproject.toml
  src/joint_improvement/py.typed
  src/joint_improvement/utils/__init__.py
Due: ruff-check, ruff-format

Add Incremental Stochastic Beam Search and Stochastic Beam Search implementations.
  .pre-commit-config.yaml
  pyproject.toml
  src/joint_improvement/generators/incremental_sbs.py
  src/joint_improvement/generators/stochastic_beam_search.py
Due: ruff-check, ruff-format

Add chemistry utility functions for molecular property calculations, including LogP and validity checks. Update project configuration to ignore bare except warnings.
  pyproject.toml
  src/joint_improvement/utils/chemistry/__init__.py
  src/joint_improvement/utils/chemistry/logp.py
  src/joint_improvement/utils/chemistry/validity.py
Due: ruff-check, ruff-format

Update Python version in environment configuration to 3.10 and adjust related dependencies in pyproject.toml. Clean up setup environment script by removing redundant activation instructions.
  environment.yml
  pyproject.toml
  scripts/setup_env.sh
Due: none

Update contributing guidelines to include detailed rebase instructions for maintaining a clean commit history before pushing changes.
  CONTRIBUTING.md
Due: none

Refactor Incremental Stochastic Beam Search implementation and add Stochastic Beam Search utilities.
  pyproject.toml
  src/joint_improvement/generators/utils/incremental_sbs.py
  src/joint_improvement/generators/utils/stochastic_beam_search.py
Due: ruff-check, ruff-format

Add BaseSearchMixin class for search-based generation with utility methods for logits processing.
  pyproject.toml
  src/joint_improvement/generators/base.py
Due: ruff-check, ruff-format

Add Gumbeldore sampling implementation for sequence generation with stochastic beam search.
  src/joint_improvement/generators/gumbeldore.py
Due: ruff-check, ruff-format

Add __init__.py to expose Gumbeldore mixins for sequence generation utilities.
  src/joint_improvement/generators/__init__.py
Due: ruff-check, ruff-format

Add Jupyter notebook for Hyformer and Gumbeldore sampling implementation with Incremental SBS.
  scripts/run_gumbeldore.ipynb
Due: nbstripout

Streamline advantage normalization and simplify method signatures.
  scripts/run_gumbeldore.ipynb
  src/joint_improvement/generators/gumbeldore.py
Due: ruff-check, ruff-format, nbstripout

Refactor prediction handling in GumbeldoreMixin to improve clarity.
  src/joint_improvement/generators/gumbeldore.py
Due: ruff-check, ruff-format

Add dataset configuration files for ZINC250k logP dataset and implement JSON loading in SequenceDatasetConfig.
  configs/datasets/zinc250k/logp/dataset_config.json
  configs/datasets/zinc250k/logp/seed_0/dataset_config.json
  configs/datasets/zinc250k/logp/seed_1/dataset_config.json
  configs/datasets/zinc250k/logp/seed_2/dataset_config.json
  configs/datasets/zinc250k/logp/seed_3/dataset_config.json
  configs/datasets/zinc250k/logp/seed_4/dataset_config.json
  configs/datasets/zinc250k/logp/seed_5/dataset_config.json
  configs/datasets/zinc250k/logp/seed_6/dataset_config.json
  configs/datasets/zinc250k/logp/seed_7/dataset_config.json
  configs/datasets/zinc250k/logp/seed_8/dataset_config.json
  configs/datasets/zinc250k/logp/seed_9/dataset_config.json
  pyproject.toml
  src/joint_improvement/utils/data/README.md
  src/joint_improvement/utils/data/dataset.py
  src/joint_improvement/utils/data/target_transforms.py
  tests/test_data.py
Due: ruff-check, ruff-format

Refactor dataset configuration for ZINC250k logP: remove old dataset config, update paths for training data, and add separate test dataset configurations with z-score normalization for each seed.
  configs/datasets/zinc250k/logp/dataset_config.json
  configs/datasets/zinc250k/logp/seed_0/test_dataset_config.json
  configs/datasets/zinc250k/logp/seed_0/train_dataset_config.json
  configs/datasets/zinc250k/logp/seed_1/test_dataset_config.json
  configs/datasets/zinc250k/logp/seed_1/train_dataset_config.json
  configs/datasets/zinc250k/logp/seed_2/test_dataset_config.json
  configs/datasets/zinc250k/logp/seed_2/train_dataset_config.json
  configs/datasets/zinc250k/logp/seed_3/test_dataset_config.json
  configs/datasets/zinc250k/logp/seed_3/train_dataset_config.json
  configs/datasets/zinc250k/logp/seed_4/test_dataset_config.json
  configs/datasets/zinc250k/logp/seed_4/train_dataset_config.json
  configs/datasets/zinc250k/logp/seed_5/test_dataset_config.json
  configs/datasets/zinc250k/logp/seed_5/train_dataset_config.json
  configs/datasets/zinc250k/logp/seed_6/test_dataset_config.json
  configs/datasets/zinc250k/logp/seed_6/train_dataset_config.json
  configs/datasets/zinc250k/logp/seed_7/test_dataset_config.json
  configs/datasets/zinc250k/logp/seed_7/train_dataset_config.json
  configs/datasets/zinc250k/logp/seed_8/test_dataset_config.json
  configs/datasets/zinc250k/logp/seed_8/train_dataset_config.json
  configs/datasets/zinc250k/logp/seed_9/test_dataset_config.json
  configs/datasets/zinc250k/logp/seed_9/train_dataset_config.json
  configs/datasets/zinc250k/unsupervised/dataset_config.json
  src/joint_improvement/utils/data/dataset.py
  tests/test_data.py
Due: ruff-check, ruff-format

Add SMILESTokenizer and SMILESTokenizerConfig for SMILES tokenization
  .cursorrules
  configs/datasets/zinc250k/logp/seed_0/dataset_config.json
  src/joint_improvement/tokenizers/__init__.py
  src/joint_improvement/tokenizers/smiles.py
  tests/test_tokenizer.py
Due: ruff-check, ruff-format

Add input container and collators for sequence modeling tasks
  pyproject.toml
  src/joint_improvement/backbones/inputs.py
  src/joint_improvement/utils/__init__.py
  src/joint_improvement/utils/data/collator.py
  src/joint_improvement/utils/data/collators/__init__.py
  src/joint_improvement/utils/data/collators/base.py
  src/joint_improvement/utils/data/collators/lm_collator.py
  src/joint_improvement/utils/data/collators/mlm_collator.py
  src/joint_improvement/utils/data/collators/prediction_collator.py
Due: ruff-check, ruff-format

Enhance BaseCollator and MLMCollator with task token validation
  src/joint_improvement/utils/data/collators/base.py
  src/joint_improvement/utils/data/collators/mlm_collator.py
Due: ruff-check, ruff-format

Refactor SequenceDataLoader to use BaseCollator
  src/joint_improvement/utils/data/dataloader.py
Due: ruff-check, ruff-format

Refactor collators to standardize task token format and max length
  src/joint_improvement/utils/data/collators/lm_collator.py
  src/joint_improvement/utils/data/collators/mlm_collator.py
  src/joint_improvement/utils/data/collators/prediction_collator.py
Due: ruff-check, ruff-format

Enhance ModelInput class with dictionary compatibility and device management.
  src/joint_improvement/backbones/inputs.py
Due: ruff-check, ruff-format

Enhance ModelInput and collators to support targets for prediction tasks
  src/joint_improvement/backbones/inputs.py
  src/joint_improvement/utils/data/collators/base.py
  src/joint_improvement/utils/data/collators/prediction_collator.py
Due: ruff-check, ruff-format

Update pyproject.toml to include C compiler installation notes for torch.compile support
  pyproject.toml
Due: none

Refactor data collators and dataset utilities
  src/joint_improvement/utils/data/collators/__init__.py
  src/joint_improvement/utils/data/collators/base.py
  src/joint_improvement/utils/data/collators/lm_collator.py
  src/joint_improvement/utils/data/collators/mlm_collator.py
  src/joint_improvement/utils/data/collators/prediction_collator.py
  src/joint_improvement/utils/data/dataloader.py
  src/joint_improvement/utils/data/dataset.py
Due: ruff-check, ruff-format

Update .gitignore and pre-commit configuration for improved development workflow
  .gitignore
  .pre-commit-config.yaml
  configs/datasets/zinc250k/unsupervised/train_dataset_config.json
  configs/datasets/zinc250k/unsupervised/val_dataset_config.json
  configs/hyformer/base.json
  configs/tokenizers/smiles/zinc250k/tokenizer_config.json
  configs/trainers/pretrain.json
  configs/trainers/smoke_test.json
  pyproject.toml
  scripts/run_pytest.sh
  scripts/setup_env.sh
  src/joint_improvement/utils/__init__.py
  src/joint_improvement/utils/data/__init__.py
  tests/dataloaders/test_invalid_smiles.py
  tests/dataloaders/test_lm_loader.py
  tests/dataloaders/test_mlm_loader.py
  tests/dataloaders/test_prediction_loader.py
  tests/test_data.py
  tests/test_tokenizer.py
Due: ruff-check, ruff-format

Implement Hyformer model architecture and training utilities
  pyproject.toml
  src/joint_improvement/__init__.py
  src/joint_improvement/generators/gumbeldore.py
  src/joint_improvement/hyformer/__init__.py
  src/joint_improvement/hyformer/checkpoint.py
  src/joint_improvement/hyformer/config.py
  src/joint_improvement/hyformer/helpers.py
  src/joint_improvement/hyformer/inputs.py
  src/joint_improvement/hyformer/layers/attention.py
  src/joint_improvement/hyformer/layers/helpers.py
  src/joint_improvement/hyformer/layers/kv_cache.py
  src/joint_improvement/hyformer/layers/mlp.py
  src/joint_improvement/hyformer/layers/prediction.py
  src/joint_improvement/hyformer/layers/prediction_head.py
  src/joint_improvement/hyformer/layers/rms_norm.py
  src/joint_improvement/hyformer/layers/rotary.py
  src/joint_improvement/hyformer/layers/transformer_layer.py
  src/joint_improvement/hyformer/losses.py
  src/joint_improvement/hyformer/model.py
  src/joint_improvement/hyformer/outputs.py
  src/joint_improvement/hyformer/pretrained.py
  src/joint_improvement/tokenizers/smiles.py
  src/joint_improvement/trainers/__init__.py
  src/joint_improvement/trainers/checkpoint.py
  src/joint_improvement/trainers/device_optimizations.py
  src/joint_improvement/trainers/multitask.py
  src/joint_improvement/trainers/utils.py
  src/joint_improvement/utils/config.py
  src/joint_improvement/utils/data/collators/mlm_collator.py
  src/joint_improvement/utils/data/dataloader.py
  src/joint_improvement/utils/experiments.py
  src/joint_improvement/utils/reproducibility.py
Due: ruff-check, ruff-format

Add experiment utilities and update README for setup instructions
  README.md
  experiments/__init__.py
  experiments/conditional_sampling/metrics.py
  experiments/conditional_sampling/run.py
  experiments/conditional_sampling/utils.py
  experiments/helpers.py
  experiments/offline_optimization/__init__.py
  experiments/offline_optimization/conditional_sampling/__init__.py
  experiments/offline_optimization/conditional_sampling/pipeline.py
  experiments/offline_optimization/run.py
  experiments/offline_optimization/self_improvement/__init__.py
  experiments/offline_optimization/self_improvement/pipeline.py
  experiments/train/run.py
  scratch/train.sh
  scripts/clean_vocab.py
  scripts/run_gumbeldore.ipynb
  src/joint_improvement/hyformer/README.md
  src/joint_improvement/utils/chemistry/docking.py
  src/joint_improvement/utils/chemistry/docking_gpu.py
  src/joint_improvement/utils/metrics/__init__.py
  src/joint_improvement/utils/metrics/hit_ratio.py
  src/joint_improvement/utils/metrics/hv.py
  src/joint_improvement/utils/metrics/r2.py
Due: ruff-check, ruff-format, nbstripout

Refactor generator mixins and remove base class
  src/joint_improvement/generators/__init__.py
  src/joint_improvement/generators/base.py
  src/joint_improvement/generators/generator.py
  src/joint_improvement/generators/gumbeldore.py
  src/joint_improvement/generators/unconditional.py
Due: ruff-check, ruff-format

Refactor Hyformer configuration and training settings
  configs/hyformer/base.json
  configs/trainers/pretrain.json
  configs/trainers/smoke_test.json
  src/joint_improvement/generators/unconditional.py
  src/joint_improvement/hyformer/README.md
  src/joint_improvement/hyformer/checkpoint.py
  src/joint_improvement/hyformer/config.py
  src/joint_improvement/hyformer/helpers.py
  src/joint_improvement/hyformer/losses.py
  src/joint_improvement/hyformer/model.py
  src/joint_improvement/hyformer/pretrained.py
  src/joint_improvement/trainers/checkpoint.py
  src/joint_improvement/trainers/device_optimizations.py
  src/joint_improvement/trainers/multitask.py
  src/joint_improvement/trainers/task_sampler.py
Due: ruff-check, ruff-format

Add docking utilities and integrate RDKit and OpenBabel for molecular docking
  .gitignore
  .pre-commit-config.yaml
  pyproject.toml
  src/joint_improvement/utils/chemistry/__init__.py
  src/joint_improvement/utils/chemistry/docking.py
  src/joint_improvement/utils/chemistry/docking_gpu.py
  src/joint_improvement/utils/chemistry/docking_utils/5ht1b.pdbqt
  src/joint_improvement/utils/chemistry/docking_utils/braf.pdbqt
  src/joint_improvement/utils/chemistry/docking_utils/dataclass.py
  src/joint_improvement/utils/chemistry/docking_utils/fa7.pdbqt
  src/joint_improvement/utils/chemistry/docking_utils/jak2.pdbqt
  src/joint_improvement/utils/chemistry/docking_utils/oracle_component.py
  src/joint_improvement/utils/chemistry/docking_utils/parp1.pdbqt
  src/joint_improvement/utils/chemistry/docking_utils/quickvina2.py
  src/joint_improvement/utils/chemistry/docking_utils/quickvina2_gpu.py
  src/joint_improvement/utils/chemistry/docking_utils/qvina02
  src/joint_improvement/utils/chemistry/docking_utils/reward_shaping/__init__.py
  src/joint_improvement/utils/chemistry/docking_utils/reward_shaping/function_parameters.py
  src/joint_improvement/utils/chemistry/docking_utils/reward_shaping/reward_shaping_function.py
Due: ruff-check, ruff-format

Refactor Hyformer configuration and training settings.
  configs/hyformer/base.json
  configs/trainers/pretrain.json
  experiments/__init__.py
  experiments/helpers.py
  experiments/train/run.py
  scratch/train.sh
  src/joint_improvement/trainers/device_optimizations.py
Due: ruff-check, ruff-format

Add docking score thresholds and improve temporary directory management
  src/joint_improvement/utils/chemistry/docking.py
  src/joint_improvement/utils/chemistry/docking_utils/quickvina2.py
Due: ruff-check, ruff-format

Update pre-commit configuration and enhance chemistry utilities
  .pre-commit-config.yaml
  configs/hyformer/base.json
  experiments/helpers.py
  experiments/offline_optimization/run.py
  pyproject.toml
  src/joint_improvement/generators/__init__.py
  src/joint_improvement/generators/generator.py
  src/joint_improvement/generators/tasar.py
  src/joint_improvement/generators/utils/gumbeldore/incremental_sbs.py
  src/joint_improvement/generators/utils/gumbeldore/stochastic_beam_search.py
  src/joint_improvement/generators/utils/tasar/incremental_sbs.py
  src/joint_improvement/generators/utils/tasar/stochastic_beam_search.py
  src/joint_improvement/hyformer/config.py
  src/joint_improvement/hyformer/model.py
  src/joint_improvement/hyformer/outputs.py
  src/joint_improvement/tokenizers/smiles.py
  src/joint_improvement/trainers/multitask.py
  src/joint_improvement/utils/chemistry/__init__.py
  src/joint_improvement/utils/chemistry/docking.py
  src/joint_improvement/utils/chemistry/docking_utils/quickvina2_gpu.py
  src/joint_improvement/utils/chemistry/qed.py
  src/joint_improvement/utils/chemistry/sa.py
  src/joint_improvement/utils/chemistry/synthesizability_utils/fpscores.pkl.gz
  src/joint_improvement/utils/chemistry/synthesizability_utils/sascorer.py
  src/joint_improvement/utils/metrics/__init__.py
  src/joint_improvement/utils/metrics/docking/hit_ratio.py
  src/joint_improvement/utils/metrics/docking/hypervolume.py
  src/joint_improvement/utils/metrics/hit_ratio.py
  src/joint_improvement/utils/metrics/hv.py
  src/joint_improvement/utils/metrics/r2.py
Due: ruff-check, ruff-format

Enhance sequence generation in TasarMixin
  src/joint_improvement/generators/tasar.py
Due: ruff-check, ruff-format

Fix filter_fn in sampling
  src/joint_improvement/generators/gumbeldore.py
  src/joint_improvement/generators/tasar.py
  src/joint_improvement/utils/chemistry/docking.py
  src/joint_improvement/utils/chemistry/docking_utils/quickvina2_gpu.py
Due: ruff-check, ruff-format

Update README and setup scripts for environment installation.
  .gitignore
  README.md
  data/vocabularies/zinc250k.txt
  scripts/run_pytest.sh
  scripts/setup_env.sh
  scripts/setup_env_mamba.sh
  scripts/setup_env_micromamba.sh
Due: none

Update project configuration and enhance data handling
  .gitignore
  .pre-commit-config.yaml
  CONTRIBUTING.md
  configs/datasets/zinc250k/docking/braf/seed_0/test_dataset_config.json
  configs/datasets/zinc250k/docking/braf/seed_0/train_dataset_config.json
  configs/hyformer/docking.json
  configs/trainers/finetune.json
  experiments/data/docking.py
  experiments/offline_optimization/conditional_sampling/__init__.py
  experiments/offline_optimization/conditional_sampling/pipeline.py
  experiments/offline_optimization/self_improvement/__init__.py
  experiments/offline_optimization/self_improvement/pipeline.py
  pyproject.toml
  scripts/run_gumbeldore.ipynb
  src/joint_improvement/hyformer/config.py
  src/joint_improvement/hyformer/inputs.py
  src/joint_improvement/hyformer/layers/prediction.py
  src/joint_improvement/hyformer/losses.py
  src/joint_improvement/hyformer/model.py
  src/joint_improvement/trainers/device_optimizations.py
  src/joint_improvement/trainers/multitask.py
  src/joint_improvement/utils/chemistry/docking_utils/quickvina2.py
  src/joint_improvement/utils/data/collators/base.py
  src/joint_improvement/utils/data/collators/prediction_collator.py
  src/joint_improvement/utils/data/data_io.py
  tests/dataloaders/test_lm_loader.py
Due: ruff-check, ruff-format, nbstripout

Update predictor head
  src/joint_improvement/hyformer/config.py
  src/joint_improvement/hyformer/layers/prediction.py
  src/joint_improvement/hyformer/layers/prediction_head.py
  src/joint_improvement/hyformer/model.py
  src/joint_improvement/trainers/multitask.py
Due: ruff-check, ruff-format

Update default prediction head args
  src/joint_improvement/hyformer/layers/prediction_head.py
  src/joint_improvement/hyformer/model.py
Due: ruff-check, ruff-format

Update default target key
  src/joint_improvement/utils/data/dataset.py
Due: ruff-check, ruff-format

Update LM/MLM collators to unify ignore index
  src/joint_improvement/utils/data/collators/lm_collator.py
  src/joint_improvement/utils/data/collators/mlm_collator.py
  tests/dataloaders/test_lm_loader.py
  tests/dataloaders/test_mlm_loader.py
Due: ruff-check, ruff-format
